


.logo 
  width 220px
  height 54px
  float left
  background #991616
  
  a  
  display block
  
  img 
    display block
  
.nav 
  width 780px
  height 54px
  float left
  background #393838
  list-style none  
  position relative
  
  li 
    float left
  
    a 
      cursor pointer
      position relative
      box-sizing border-box
      border-bottom  4px solid transparent
      display block 
      width 86px 
      height 54px
      line-height 54px
      text-align center
      font-size 12px
      color #ccc
      text-decoration none
      &:hover 
      color #fff
  
      &.active 
        a 
          border-bottom  4px solid deepskyblue
          color #fff
